<!doctype html>
<html>
  <head>
    <title><%= blog_title %> - <%= post_title %></title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <div id="container">
      <h1><%= blog_title %></h1>
      <hr/>
      <h3><%= post_title %></h3>
      <%- post_body %>
    </div>
  </body>
</html>
